@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transform: all .3s linear;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
   
}
body{
    background-color: var(--pramery-color-bg);
}
:root{
    --span-color: hsl(19, 90%, 56%);
    --h3-color: hsl(19, 100%, 68%);
    --font-family: 'Satisfy', cursive;
    --body_bg: hsl(18, 84%, 88%);
    --black-color: hsl(19, 16%, 14%);
    --white-color:#fff;
    --font-color: hsl(19, 90%, 56%);
    --btn-color: hsl(19, 85%, 64%);
    --pramery-color-bg:hsl(18, 84%, 88%);
    --Secordly-color: #000;
    --third-color: hsl(19, 85%, 64%);
    --color-font: #fff;
    --light_bg--: #ffdbc6;
    --four-color:hsl(19, 90%, 56%);
    --box-color: hsl(18, 100%, 85%);
    --box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
    --head-box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1),
        2px -1px 5px rgb(0, 0, 0, 0.1);
    
    /* --pramery-color-bg: hsl(0, 0%, 8%);
    --Secordly-color: #fff; */
}
.dark-theme{
    --pramery-color-bg: hsl(0, 0%, 8%);
    --Secordly-color: #fff;
    --third-color: hsl(19, 85%, 64%);
    --four-color: #000;
    --btn-color: hsl(0, 0%, 27%);
    --color-font:#fff;
    --light_bg--: #fbf4ef;
    --box-color: hsl(0, 0%, 22%);
    --box-shadow: 2px 2px 5px rgba(67, 66, 66, 0.884);
    --head-box-shadow: 3px 3px 4px #000;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6%;
    z-index: 1000;
    background-color:var(--pramery-color-bg);
    box-shadow: var(--head-box-shadow);
    /* box-shadow: 3px 3px 5px rgb(0,0,0,0.1),
    2px -1px 5px rgb(0, 0, 0, 0.1); */
}
.nav .logo{
    display: flex;
    align-items: center;
    color: var(--Secordly-color);
    margin-top: 10px;
}
.nav .logo img{
    width: 35px;
    height: 35px;
    
}
.nav .logo span{
    font-size: 2.5rem;
    padding-left: 5px;
    font-weight: 700;
    color: var(--Secordly-color);
}
.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    list-style: none;
}
.nav ul li{
    margin: 0 15px;
}
.nav ul li a{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--Secordly-color);
    line-height: 30px
}
.nav ul li a:hover{
    color: var(--font-color);
}
.nav ul li img{
    width: 3rem;
    /* color: var(--Secordly-color); */
    cursor: pointer;
}

section{
    padding: 0 9%;
}
/* ========== Home container Start ============= */

.container_home{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.container_home .content{
    flex: 1 1 35rem;
}
.content span{
    font-size: 5rem;
    font-family: var(--font-family);
    color: hsl(19, 90%, 56%);
}
.content h3{
    font-size: 4rem;
    color: hsl(19, 90%, 56%);
}
.content p{
    font-size: 2rem;
    color: var(--Secordly-color);
    margin-bottom: 25px;
}
.image{
    cursor: pointer;
}
.image:hover img{
    
    transform: scale(1.1);
}
.image img{
    height: 500px;
}
 .content .btn{
    font-size: 1.5rem;
    border-radius: 50px 50px;
    padding: 12px;
    color: var(--white-color);
    background-color: var(--third-color);

 }
.content .btn:hover i {
    padding-left: 5px;
}
.content .btn:hover {
    background-color: hsl(19, 97%, 36%);
    /* color: var(--Secordly-color); */
   
}






/* ========== Home container end ============= */


/* ========== AboutUS container start ============= */
.aboutus{
    height: 100vh;
}
.container_aboutUs{
    display: flex;
    justify-content: center;
}
.container_aboutUs .image{
    flex: 1 1 450px;
}
.container_aboutUs .content{
    flex: 1 1 450px;
}
.container_aboutUs .content{
    margin-top: 50px;
   
}
.container_aboutUs .content h3{
    font-size: 3.5rem;
}
.container_aboutUs .content span{
    font-size: 3rem;
}
.contains{
    margin-top: 60px;
}
.icons-container {
    display: flex;
    align-items: center;
    flex: 1 1 30px;
    gap: 10px;
    cursor: pointer;
    margin: 10px 0;
  
  
}

.icons-container .icons:hover {
    background-color: var(--btn-color);
}

.icons-container .icons {
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    background-color: var(--light_bg--);
}

.icons-container .icons img {
    height: 60px;
    padding-left: 10px;
}

.icons-container .icons h3 {
    font-size: 2rem;
    padding-left: 10px;
    
}

.icons-container .icons h3:hover {
   color: var(--color-font);
   
}




/* ========== AboutUS container end ============= */


/* ========== popular container end ============= */

.popular{
    height: 120vh;
}
.heading{
    text-align: center;
  

}
.heading span{
    font-size: 2.7rem;
    font-family: var(--font-family);
    color: var(--span-color);
}
.heading h3{
    font-size: 3rem;
    color: var(--h3-color);
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.box{
    text-align: center;
    padding: 5px 10px;
    position: relative;
    background-color: var(--box-color);
    border-radius: 8px;
    line-height: 20px;
    box-shadow: var(--box-shadow);
}
.box .image img{
    height: 170px;
    width: 200px;
}
.box .info h3{
    font-size: 2rem;
    color: var(--Secordly-color);
}
.box .info span{
    font-size: 1.2rem;
    color: var(--Secordly-color);
}
.box .info .prize{
    display: flex;
    justify-content: space-between;
    padding: 15px 8px;
    align-items: center;
}
.box .info .prize span{
    font-size: 1.7rem;
}
.box .info .prize i{
    font-size: 1.7rem;
    width:35px;
    height:35px;
    line-height:35px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--four-color);
}
.box .info .prize:hover i{
    transform: scale(1.2);
}

/* ========== popular container end ============= */



/* ========== Recenly container start ============= */


.recenly{
    height: 100vh;
}
.container_recenly{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    margin-top: 50px;
    
}
.input_content{
    border: 1px solid #000;
}
.input_content #search{
    outline: none;
    border: none;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    padding: 10px 0;
   
}
.form_container #search{
   
   
    
}
.form_container i{
    font-size: 2.2rem;
    padding: 0 5px;
}














/* ========== Recently container end ============= */